<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="has-text-centered has-text-light title is-size-5-mobile">Flight Finder</h1>
      <% if @available_flights.empty? %>
        <%= render 'search_parameters' %>
      <% else %>
        <%= render 'search_results' %>
      <% end %>
    </div>
  </div>
</section>


