<div class="table-container">
  <table class="table is-hoverable has-text-centered">
    <thead>
      <tr class="has-text-weight-bold has-background-info-light is-size-6-mobile">
        <td>Name</td>
        <td>Email</td>
      </tr>
    </thead>
    <% @booking.passengers.each do |passenger| %>
      <tr class="is-size-6-mobile">
        <td><%= passenger.name %></td>
        <td><%= passenger.email %></td>
      </tr>
    <% end %>
  </table>
</div>
