@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Mukta&display=swap');

body {
  font-family: 'Mukta', sans-serif;
}

nav {
  background: linear-gradient(45deg, #000, #fff);
  font-family: 'Charm', cursive;
}

.huginn-muninn {
  font-family: 'Charm', cursive;
  font-size: 1.15rem;
  margin-bottom: 10px;
}
