@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Mukta&display=swap');

body {
  font-family: 'Mukta', sans-serif;
}

nav {
  background: linear-gradient(45deg, #000, #fff);
  font-family: 'Charm', cursive;
  letter-spacing: 4px;
  
}

.huginn-muninn {
  font-family: 'Charm', cursive;
  font-size: 1.15rem;
  margin-bottom: 10px;
}

.icon-top {
  transform: rotate(180deg);
}

.icon-big {
  font-size: 350%;
}

.icon-bottom {
  font-size: 125%;
}

select {
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  margin: 8px;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  font-size: 14px;
  width: 12rem;
}

@media 
only screen and (max-width: 1270px),
(min-device-width: 1280px) and (max-device-width: 1440px) {
  select {
    width: 8rem;
  }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1023px) {
  table, thead, tbody, th, td, tr { 
		display: block; 
	}

  select { 
    font-size: 85%;
    width: 85%;
  }
}

.flight-finder {
  // background: linear-gradient(45deg, #fff, #000);
  padding: 16px;
  border-bottom: solid 2px #dbdbdb;
  letter-spacing: 8px;
  font-family: 'Charm', cursive;
}

.find-flights {
  padding-bottom: 30px;
  border-bottom: solid 2px #dbdbdb;
}

.raven-reservations {
  letter-spacing: 4px;
}

select option{
  font-size: 1rem;
}

.btn {
  width: 10rem;
}